# Node modules & build path
build
node_modules

# Compiled files for electron & TS. We only want the typescript source files in the repository
electron/*.js
types/*.js

# IDE configs
.vscode

# App settings
settings.json