@import '../../variable.scss';

.content {
  height: 85%;
  display: flex;
  font-family: system-ui;
}
.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  background-color: $middle-blue;
  button:last-child {
    margin-top: auto;
  }
}

.page {
  float: right;
}