@import '../../variable.scss';

.content {
  height: 85%;
  display: flex;
  font-family: system-ui;
  
}
.menu {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 20%;
  background-color: $middle-blue;
  position: fixed;
  button:last-child {
    margin-top: auto;
  }
}

.page {
  float: right;
  width: 80%;
  margin: 2% 2% 2% 22%;
}

